src/main/app/dummy-project.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:mulexml="http://www.mulesoft.org/schema/mule/xml" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns="http://www.mulesoft.org/schema/mule/core" 
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" 
	xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.5.0" 
	xmlns:test="http://www.mulesoft.org/schema/mule/test"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/test http://www.mulesoft.org/schema/mule/test/current/mule-test.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
http://www.mulesoft.org/schema/mule/xml http://www.mulesoft.org/schema/mule/xml/current/mule-xml.xsd">


    <flow name="dummy-projectFlow1" doc:name="dummy-projectFlow1">
        <http:inbound-endpoint exchange-pattern="request-response" address="http://localhost:8080/test" doc:name="HTTP"/>
        <logger level="INFO" doc:name="Logger"/>
        <mulexml:xml-to-object-transformer returnClass="domain.Merchant" doc:name="XML to Object">
            <mulexml:alias name="name" class="domain.Name"/>
            <mulexml:alias name="merchant" class="domain.Merchant"/>
            <mulexml:alias name="address" class="domain.Address"/>   
         </mulexml:xml-to-object-transformer>
        <response>
            <set-property propertyName="PILLLR_TRANSACTION" value="#[message.id]" doc:name="Property"/>
        </response>
        <component doc:name="Java" class="service.UUIDService"/>
        <json:object-to-json-transformer doc:name="Object to JSON"/>
    </flow>
</mule>
